{% extends 'base.html.twig' %}


{% block body %}
	<h1>Page Privée</h1>

	<div class="container">
		<div class="row">

			{% for article in articles %}
				{% if article.user == app.user.getUserIdentifier %}

					<div class="col-sm">
						<div class="card  text-center">
							<div class="card-body">
								<div class="card-title">{{ article.titre }}</div>
								<div>
									<a href="/categorie/{{ article.id }}/edit" class="p-0 m-0 text-decoration-none">Modifier</a>
									<a href="/categorie/{{ article.id }}/delete" class="p-0 m-0 text-decoration-none">Supprimer</a>
								</div>
							</div>
						</div>
					</div>


				{% endif %}


			{% endfor %}
		</div>
	</div>


	<a href="/admin/article/create" class="btn btn-outline-primary text-decoration-none">Ajouter un article</a>


{% endblock %}
