{% extends 'base.html.twig' %}


{% block body %}
	<h1>Page Privée</h1>

	<div class="container">
		<div class="row">

			{% for article in articles %}
				{% if article.user == app.user.getUserIdentifier %}

					<div class="col-sm">
						<div class="card  text-center">
							<div class="card-body">
								<div class="card-title">{{ article.titre }}</div>
								<div>
									<a href="/categorie/{{ article.id }}/edit" class="p-0 m-0">Modifier</a>
									<a href="/categorie/{{ article.id }}/delete" class="p-0 m-0">Supprimer</a>
								</div>
							</div>
						</div>
					</div>


				{% endif %}


			{% endfor %}
		</div>
	</div>

	<button type="button" class="btn btn-dark">
		<a class="dropdown-item" href="{{ path('article_create')}}">Créer article</a>
	</button>

{% endblock %}
