{% extends 'base.html.twig' %}

{% block body %}
	{% form_theme form_create_categorie 'bootstrap_4_layout.html.twig' %}


	<div class="container">
		<div class="titre">
			{% if editMode %}
				<h5 class="center">Modification d'une catégorie</h5>
			{% else %}
				<h5 class="center">Création d'une catégorie</h5>
			{% endif %}

		</div>

		{{ form_start(form_create_categorie) }}
		<div class="form-group">

			{{ form_row(form_create_categorie.nom) }}
		</div>

		<button type="submit" class="btn btn-secondary mt-4">

			{% if editMode %}
				Modifier la catégorie
			{% else %}
				Ajouter la catégorie
			{% endif %}

		</button>
		{{ form_end(form_create_categorie) }}
	</div>


{% endblock %}
