{% extends 'base.html.twig' %}


{% block body %}
	<div class="container mt-5 text-center ">
		{% if app.user %}

			<a href="/admin/categorie/create" class="btn btn-outline-primary text-decoration-none">Ajouter une catégorie</a>
		{% endif %}

		<br></br>
	<div class="flex-row">
		<style>
			.hover:hover {
				transform: scale(1.03);
				cursor: pointer;
			}
		</style>
		<div class="container">
			<div class="row">
				{% for categorie in categories %}
					<div class="col-sm">
						<a class="text-decoration-none" href="/articles/{{categorie.id}}">
							<div class="card  text-center">
								<div class="card-body">
									<div class="card-title">{{ categorie.nom|upper }}</div>

								</div>
							</div>
						</a>
					</div>

				{% endfor %}
			</div>
		</div>
	</div>
</div>{% endblock %}
