{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">

		<a href="/admin/article/create" class="btn btn-outline-primary text-decoration-none">Ajouter un article</a>
		<br></br>
	<style>
		.hover:hover {
			transform: scale(1.03);
			cursor: pointer;
		}
	</style>
	<div class="row">
		{% for article in articles %}
			<a href="/articles/{{article.id}}" class="col-5 m-2 text text-decoration-none">
				<div class="card flex justify-content-center align-items-center">

					<div class="card-body">
						<h5 class="card-title">{{ article.titre }}</h5>

					</div>
				</div>
			</a>
		{% endfor %}
	</div>
</div>{% endblock %}
